body {
  font-family: "Roboto", sans-serif;
}

.cabecalho {
  background-color: #202020;
}

.cabecalho .cabecalho-logo {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  gap: 15px;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
}

.cabecalho > section {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.cabecalho section > img {
  width: 20px;
  height: 20px;
  padding: 30px 30px;
  border-left: 1px solid #e5e5e5;
}

.cabecalho .cabecalho-menu {
  display: flex;
  justify-content: center;
  gap: 97px;
  padding: 25px 0;
}

.cabecalho .cabecalho-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

/* MAIN */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backgroundImage {
  width: 100%;
  max-width: 100%;
  border-top: 1px solid #808080;
}

.container {
  width: 100%;
  max-width: 800px;
}

.trailer div h2 {
  margin-top: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d2d2d;
  font-size: 30px;
}

.trailer div iframe {
  width: 100%;
  height: 500px;
  margin: 30px 0 50px 0;
}

.maratonas {
  background-color: #151515;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 200px;
}

.maratonas .container h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 30px;
}

.maratonas .container > .imagens {
  display: flex;
  justify-content: space-between;
}

.maratonas .container > div.imagens img {
  width: 240px;
  height: 240px;
  border-radius: 2px;
}

.visao-geral {
  display: flex;
  background-color: #ffffff;
  padding: 60px;
  gap: 60px;
  box-sizing: border-box;
  margin-top: -150px;
}

.visao-geral.container div h2 {
  font-size: 30px;
  font-weight: 700;
  color: #2d2d2d;
  margin-bottom: 50px;
}

.visao-geral.container div p {
  line-height: 20px;
  margin-top: 15px;
  color: #151515;
}

.visao-geral.container div h3 {
  font-size: 20 px;
  color: #767676;
  text-transform: uppercase;
  margin: 50px 0 10px 0;
  font-weight: 700;
}

.visao-geral.container div ul {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 10px;
}

.visao-geral.container div b {
  font-weight: 700;
}

.poster img {
  height: 460px;
}

.modulos {
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
}

.modulos > .container > h2 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 60px 0 30px 0;
}

.modulos > .container .seletor-botao {
  display: flex;
  justify-content: space-between;
}

.modulos > .container .seletor-botao button {
  border: none;
  outline: none;
  background-color: #151515;
  background-image: url("/img/botao_modulo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 40px;
}

#modulo-descricao {
  margin: 40px 0 80px 0;
  width: 100%;
  height: 350px;
  background-color: #ffffff;
}

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

footer > div {
  display: flex;
  justify-content: space-between;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .footer-logo img {
  width: 60px;
  height: 70px;
}

footer .footer-logo p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
}

footer .footer-contato div h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .footer-contato ul li {
  padding-bottom: 20px;
}

footer .footer-contato ul a {
  text-decoration: none;
  color: #767676;
  font-weight: normal;
}

footer .endereco h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .endereco ul {
  text-decoration: none;
  width: 25ch;
}

footer .endereco ul li {
  padding-bottom: 20px;
  color: #767676;
}

footer .endereco ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer .footer-copy {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  border-top: 1px solid #767676;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-copy span {
  color: #767676;
  padding: 30px 0;
}
